.pixeltex-container {
    width: 800px;
    margin: auto;
    text-align: center;
}

.tex-container {
    display: grid;
    grid-template-rows: 240px auto;
    gap: 0px;
    position: relative;
}

.button-row {
    display: grid;
    grid-template-columns: repeat( 6, auto );
    justify-items: center;
    align-items: center;
}

#tex-input {
    font-size: 1.5em;
    resize: none;
    border-radius: 3px;
    background-color: #454b61;
    border-width: 0;
    color: #d1d5e0;
    padding: 10px;
    outline: none;
    box-shadow: -1px 3px 10px #191d27;
    z-index: 1;
}

#tex-output {
    border-radius: 3px;
    border: 1px solid #191d27;
    background-color: #2c2f3a;
    position: relative;
}