body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #fcfefa;
    background: #303441;
    position: relative;

    min-height: 100vh;
    width: 100%;
    margin: 0;
    text-align: center;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    text-align: center;
    min-height:50px;
    position: relative;
}

footer{
    min-height:50px;
    background-color: #454b61;
    box-shadow: 0 3px 10px 1px #191d27;
}

button:hover {
    box-shadow: -5px 5px 15px 2px #191d27;
    transform: scale( 1.1 );
}

button:focus {
    outline: 0;
}

br {
    line-height: 100%;
}

a {
    color: #fffa6b;
    text-decoration: none;
}

a:hover {
    color: #ceba09;
}

h1 {
    font-size: 3em;
}

h3 {
    margin-top: -1.5rem;
    color: #787f97;
}

::placeholder {
    color: #787f97;
    opacity: 0.5;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

.icon-button {
    color: #fcfefa;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.icon-button:hover {
    box-shadow: none;
}

.text-button {
    padding: 20px;
    min-width: 100px;
    font-size: 1.4em;
    background-color: #454b61;
    color: #fcfefa;
    border-radius: 3px;
    box-shadow: -1px 3px 6px 0px #191d27;
    border: 1px solid #191d27;
    transition: box-shadow transform;
}

#title {
    color: #fffa6b;
}