.small-icon {
    width: 28px;
    height: 28px;

    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;
    filter: drop-shadow( 0 0 3px #191d27 );
}

.qrcode {
    display: none;

    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 3px;

    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;

    position: absolute;
    left: -80px;
    bottom: 40px;

    filter: drop-shadow( -1px 3px 10px #191d27 );
}

.small-icon:hover {
    transform: scale( 1.2 );
}

.small-icon:hover > .qrcode {
    display: block;
}

.icon-row {
    height: 100%;
    display: grid;
    grid-template-columns: repeat( 7, auto );
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#btc-icon { background-image: url("../imgs/btc-icon.png"); }
#btc-qrcode { background-image: url("../imgs/btc.png"); }

#eth-icon { background-image: url("../imgs/eth-icon.png"); }
#eth-qrcode { background-image: url("../imgs/eth.png"); }

#rvn-icon { background-image: url("../imgs/rvn-icon.png"); }
#rvn-qrcode { background-image: url("../imgs/rvn.png"); }